
.image-right {
    float: right;
    padding-left: 5px;
    margin: 0px;
}

/* Size tables to their natural width. Inherited style sizes full width. */
table {
    width: unset;
    max-width: 100%;
}

/* Undo the odd top/bottom margin for images. */
#body img {
    margin: 0px;
}

/* Style for child summaries table at the end of pages. */
.child-summaries table {
    border: 0px;
    padding: 0px;
}

.child-summaries td {
    border: 0px;
    padding: 0 0 0.5rem 0;
}

.child-summaries h4 {
    font-size: 1.25rem;
    margin: 0;
    line-height: 1;
}

.child-summaries p {
    margin: 0;
    line-height: 1;
}

.child-subsection td {
    padding-bottom: 1rem;
}
.child-subsection h3 {
    padding-top: 2rem;
}